body {
    height: 100vh;
    background-color: orchid;
}
.container {
    width: 35%;
    height: 50%;
    border: solid;
    border-color: black;
    border-width: 2px;
    background-color: ivory;
    padding: 2px;
}
#new-item input {
    border: solid;
    border-color: black;
    background-color: whitesmoke;
    border-radius: 5%;
    width: 20px;
    height: 15px;
    margin-top: 10px;
}
#new-item button {
    background-color: goldenrod;
    color:brown;
    border-radius: 5%;
    border: solid;
    width: 20px;
    height: 15px;
    margin-top: 10px;
    cursor: pointer;
}
#new-item {
    /* border: solid;
    border-color: brown;
    border-width: 4px;
    background-color: darkgoldenrod; */
    padding: 20px;
}
#itemst {
    border: solid;
    border-radius: 5px;
    width: 100%;
    height: 20%;
}
/* .items button {
    background-color: coral;
    color: crimson;
    cursor: pointer;
    width: 35px;
    height: 25px;
    border-radius: 5px;
} */


